# Data
data/raw/
data/processed/
LibriSpeech/
GTZAN/
datasets/

# Models
models/*.pt
models/*.pth

# Python
__pycache__/
*.pyc
.env

# OS
.DS_Store
Thumbs.db

# Virtual Environment
venv/

# Build
build/
dist/
AutoAudio.spec
